<div class="container mt-5">
  <div class="row">
    <div class="col-12">
     
      <p [setcolor]="'red'" appCsshighlither>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non quos, ab nobis molestias cum aut explicabo saepe velit dolor dolore ut suscipit omnis delectus! Modi aliquam nobis nesciunt hic id.</p>
        <p [setcolor]="'pink'" appCsshighlither>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non quos, ab nobis molestias cum aut explicabo saepe velit dolor dolore ut suscipit omnis delectus! Modi aliquam nobis nesciunt hic id.</p> 

        
       <!-- with renderer -->
        <p  appAdvanceCsshighlitghter   [defaultColor]="'yellowgreen'" [hovercolor]="'black'">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non quos, ab nobis molestias cum aut explicabo saepe velit dolor dolore ut suscipit omnis delectus! Modi aliquam nobis nesciunt hic id.</p>  
     
        

        <strong>Lowercase Directive</strong>
       <input  appLowercase type="text" class="form-control">



       <strong> CreditCard-Tasks</strong>
       <input  appCreditCard type="text" class="form-control">

      </div>
  </div>


 
 

  
</div>